<mat-card>
  <mat-card-header >
    <mat-card-title>Projects</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="argo" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="visibility">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Visibility </th>
          <td mat-cell *matCellDef="let row"> {{row.visibility}}% </td>
        </ng-container>
 
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row" > <button (click)="onNavToProject(row)">{{row.name}}</button> </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="owned">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Owned </th>
          <td mat-cell *matCellDef="let row"> {{row.owned}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="load()">Refresh</button>
  </mat-card-actions>
</mat-card>