.example-container {
    display: block;
    height: 100%;
    background: url('https://i0.wp.com/cssscript.com/wp-content/uploads/2014/11/Creating-An-Animated-Particle-System-Using-Particles.js.jpg?fit=434%2C314&ssl=1');
  }
  
  .sidenav{
    min-width: 75px;
    max-width: 250px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .nav-section{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .activeRouteIcon{
    color: pink
  }