<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span *ngIf="activeProject$ | async as project">{{project.name}}</span>
    <span class="example-spacer"></span>
    <a mat-icon-button  routerLink="settings" routerLinkActive="activeRouteIcon" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
    </a>
    <button mat-icon-button class="example-icon"  aria-label="Example icon-button with share icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav class="sidenav" [opened]="true" mode="side">
        <div class="nav-section">
            <a mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="dashboard">
                <mat-icon>home</mat-icon>
                <span *ngIf="menuOpen"> - Home</span>
            </a>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>


</mat-sidenav-container>