<form #userConfig="ngForm" (ngSubmit)="onSubmit()">
    <mat-card appearance="" class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Gitlab Dashboard</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
    
            <mat-form-field appearance="fill" class="form-q">
                <mat-label>Gitlab Username</mat-label>
                <input name="username" matInput  [(ngModel)]="values.username" required>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="form-q">
                <mat-label>Gitlab Token</mat-label>
                <input name="token" [(ngModel)]="values.token" matInput required   [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
    
    
        </mat-card-content>
        <mat-card-actions class="content">
            <button color="primary" type="submit"  [disabled]="!userConfig.form.valid" mat-raised-button>Continue</button>
        </mat-card-actions>
    </mat-card>
</form>
