<mat-card>
  <mat-card-header >
    <mat-card-title>Pipelines</mat-card-title>
  </mat-card-header>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="argo" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource"  matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
          <td mat-cell *matCellDef="let row"> {{row.created_at | date }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref </th>
          <td mat-cell *matCellDef="let row"> {{row.ref}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="web_url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row"> <a  [href]="row.web_url"><mat-icon [color]="row.status === 'success' || row.status === 'running' ? 'primary':'accent'">{{row.status === 'success' ? 'check_circle' : 'highlight_off'}}</mat-icon></a> {{row.status}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
    </div>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="load()">Refresh</button>
  </mat-card-actions>
</mat-card>